* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.input {
    padding: 0.4rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    width: 100%;
}

.button {
    padding: 0.4rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    cursor: pointer;
    width: 100%;
}
