.overviewSection {
    border: 1px solid black;
    border-radius: 15px;
    padding: 1rem;
    margin-top: 5rem;
    height: 100%;
  }
  .voertuigenTabel {
    width: 100%;
    border: 1px solid gray;
    border-collapse: collapse;
  }
  .voertuigenTabel th {
    padding: 5px;
  }
  .voertuigenTabel tr {
    border-bottom: 2px solid black;
  }
  .voertuigenTabel td {
    border-right: 1px solid gray;
    padding-left: 1rem;
  }
  .voertuigenTabel td button:hover {
    background-color: lightgray;
  }
  
  .datumButtonVoertuigen {
    padding: 0 !important;
    display: flex;
    flex-direction: row;
  }

  .datepicker button{
    color: black;
    background-color: white;
    border: 0;
    height: 100%;
    width: 100%;
    padding: 5px;
    cursor: pointer;
  }

  .headerFilter{
    display: flex;
    justify-content:space-between;
  }

#createVoertuig {
  display: none;
}

.basicInputs{
  border: 1px solid black;
  padding: 1rem;
  border-radius: 15px;
}

.advancedInputs{
  border: 1px solid black;
  padding: 1rem;
  border-radius: 15px;
}

.allInputs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.createForm{
  display: flex;
  flex-direction: column;
}

.basicInputs input, .advancedInputs input{
  margin-left: 1rem;
}

#Auto, #Camper, #Caravan{
  display: none;
}

.updateVoertuig{
  display: none;
}
#updateVoertuigButton{
  display: none;
}